<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:name=".OtherClass.OfflineFirebase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.VirtualExam" />
        <activity android:name=".Activity.ImportantTipsActivity" />
        <activity android:name=".Activity.GuidelineActivity" />
        <activity android:name=".Activity.AboutUaeActivity" />
        <activity android:name=".Activity.NsiBook" />
        <activity android:name=".Activity.ExchangeRate" />
        <activity android:name=".Activity.UsefulContact" />
        <activity android:name=".Activity.NoteQuestionActivity" />
        <activity android:name=".Activity.NoteSetsActivity" />
        <activity android:name=".Activity.NoteCategoryActivity" />
        <activity android:name=".Activity.NotificationsActivity" />
        <activity android:name=".OtherClass.AboutDeveloper" />
        <activity android:name=".Activity.BookmarkActivity" />
        <activity android:name=".Activity.ScoreActivity" />
        <activity android:name=".Activity.QuestionActivity" />
        <activity android:name=".Activity.SetsActivity" />
        <activity android:name=".Activity.CategoriesActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>